<%- include('../partials/header') %>
<h1 class="text-xl font-bold">Products</h1>
<ul class="mt-4 space-y-2">
  <% products.forEach(product => { %>
    <li class="p-4 bg-white rounded shadow">
      <a href="/products/<%= product.id %>" class="font-semibold hover:underline"><%= product.name %></a>
      <span class="ml-2 text-gray-500">$<%= product.price %></span>
    </li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>
